# Copyright (C) 2023-2024 Sebastien Rousseau.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or
# implied.
# See the License for the specific language governing permissions and
# limitations under the License.


################################################################################
# Microsoft Azure Open AI Service
################################################################################

# OPENAI_API_KEY is the key for the Microsoft Azure Open AI Service. Replace with
# your actual API key from https://platform.openai.com/api-keys

OPENAI_API_KEY='sk-<your-api-key>'


# OPENAI_DEFAULT_MODEL is the default model for the Microsoft Azure Open AI
# Service. Replace with your actual default model from the list of models at
# https://platform.openai.com/docs/models

OPENAI_DEFAULT_MODEL='gpt-3.5-turbo-instruct'

################################################################################
